{# Load the tag library #}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load filters %}
<script type="text/javascript" src="{% static 'bs_grid/jquery.bs_grid.js' %}"></script>
<link rel="stylesheet" href="{% static 'bs_grid/jquery.bs_grid.css' %}"  />

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<header></header>

<content class="row">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Filtro</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search">
      	<div class="form-group">
		  <select class="select2">
		    <option value="">Todos</option>
		    {% for class in class_list %}
		    <option value="{{class.id}}">{{class.name}}</option>
		    {% endfor %}
		  </select>
		</div>
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="Nombre">
		</div>
		
		<button type="submit" class="btn btn-default">Buscar</button>
	  </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>	


{% if attend_list %}
{% for attend in attend_list %}
<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading">{{attend.cl.name}}
    	<risk-add class="pull-right" project=riskList.project></risk-add>
  </div>

	<ul class="list-group" >
		<li class="list-group-item">
			<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-4">Nombre</div>
					<div class="col-md-3">Hora</div>
					<div class="col-md-3">Opciones</div>
			</div>
		</li>
			
		{# for student in class.students.all #}
		<li class="list-group-item">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">{{attend.st.full_name}}</div>
			<div class="col-md-3">{{attend.date}}</div>
			<div class="col-md-3"><a href="map/{{attend.id}}">Mapa</a></div>
		</div>
		</li>
		{# endfor #}
			
		
	</ul>
</div>

{% endfor %}
{% endif%}
</content>

<footer></footer>