<!DOCTYPE html>
<html>
  <head>
  	<style>
      #map {
      	position: absolute!important;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: {{attend.latitude}}, lng: {{attend.longitude}} },
          zoom: 15
        });
        var marker = new google.maps.Marker({
		    position: {lat: {{attend.latitude}}, lng: {{attend.longitude}} },
		    map: map,
		    title: 'Hello World!'
		  });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
  </body>
</html>